<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Viewcontroller</key>
	<string>主控制器</string>
	<key>SecondVc</key>
	<string>二级控制器</string>
	<key>ThreeVc</key>
	<string>三级控制器</string>
	<key>ErrorVc</key>
	<string>错误控制器</string>
</dict>
</plist>
